<p>Formulaire bénévole envoyé depuis le site Internet</p>

<p><strong>Nom :</strong> {{ data.name }} </p>
<p><strong>Prénom :</strong> {{ data.firstname }} </p>
<p><strong>Téléphone :</strong> {{ data.telephone }} </p>
<p><strong>E-mail :</strong> {{ data.email }} </p>
<p><strong>Age :</strong> {{ data.age }} </p>
<p><strong>Disponibilités :</strong> {{ data.disponibilite }}</p>