<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>Crazy Disco Trail {% block title %} {% endblock %}</title>

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/styles.css') }}">
        

        <!-- FONTS -->
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">

        <script src="https://use.fontawesome.com/4eafcb46c5.js"></script>

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        <div class="container-fluid">

            <head>
                <div class="logo vertical-align-logo">
                        <img src="{{ asset('img/logo-2017-txt.png') }}" class="img-responsive center-block" alt="" title="" />
                </div><!-- /.logo -->

            </head>

            <div class="content">
                
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                
                        <div class="navbar-header">
                          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                          </button>
                        </div>

                        <div class="container">
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                              <ul class="nav navbar-nav">
                                <li class="{% if app.request.get('_route') == 'home' %} active {% endif %}"><a href="{{ path('home') }}">ACCUEIL</a></li>
                                <li class="{% if app.request.get('_route') starts with 'actualites' %} active {% endif %}"><a href="{{ path('actualites')}}">ACTUALITES</a></li>
                                <li class="{% if app.request.get('_route') == 'inscription' %} active {% endif %}"><a href="{{ path('inscription') }}">INSCRIPTION</a></li>
                                <li class="{% if app.request.get('_route') == 'inscrits' %} active {% endif %}"><a href="{{ path('inscrits') }}">INSCRITS</a></li>
                                <li class="dropdown {% if app.request.get('_route') starts with 'infos' %} active {% endif %}">
                                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">INFOS <span class="caret"></span></a>
                                  <ul class="dropdown-menu">
                                    <li><a href="{{ path('infos_jourj') }}">Le Jour J</a></li>
                                    <li><a href="{{ path('infos_dossards')}}">Retrait des dossards</a></li>
                                    <li><a href="{{ path('infos_acces') }}">Accès</a></li>
                                    <li><a href="{{ path('infos_reglement') }}">Réglement</a></li>
                                    <li><a href="{{ path('infos_savoir') }}">Bon à savoir</a></li>
                                    <li><a href="{{ path('infos_questions')}}">Questions fréquentes</a></li>
                                  </ul>
                                </li>
                                <li class="{% if app.request.get('_route') == 'galeries' %} active {% endif %}"><a href="{{ path('galeries') }}">GALERIES</a></li>
                                <li class="{% if app.request.get('_route') == 'contact' %} active {% endif %}"><a href="{{ path('contact') }}">CONTACT</a></li>
                              </ul>
                            </div><!-- /.navbar-collapse -->
                        </div><!-- /.container -->
                    </div><!-- /.container-fluid -->
                </nav>

                <div class="bandes">

                    {% block body %}

                    {% endblock %}

                </div><!-- /.bandes -->

            </div><!-- /.content -->

            <footer class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-6 col-md-4">
                            <ul>
                                <li><a href="{{ path('home') }}">Accueil</a></li>
                                <li><a href="{{ path('actualites') }}">Actualités</a></li>
                                <li><a href="{{ path('inscription') }}">Inscription</a></li>
                                <li><a href="{{ path('inscrits') }}">Inscrits</a></li>
                                <li><a href="{{ path('infos') }}">Infos</a></li>
                                <li><a href="{{ path('galeries') }}">Galerie</a></li>
                                <li><a href="{{ path('contact') }}">Contact</a></li>
                                <li><a href="{{ path('mentions')}}">Mentions légales</a></li>
                                <li><a href=""><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>
                            </a></li>
                            </ul>
                        </div><!-- /.col -->

                        <div class="col-xs-6 col-md-4">
                            <p><strong><span class="bleu">CRAZY DISCO TRAIL !</span></strong></p>
                            <p>Un événement organisé par ...</p>

                            <p>Nos autres événéments : </p>
                            <p><a href="http://www.herouvilledanslacourse.com" target="_blank"><i class="fa fa-bolt" aria-hidden="true"></i>
                             L'Audacieuse...</a><br />
                             <a href="http://www.traldelangoisse.fr" target="_blank"><i class="fa fa-heartbeat" aria-hidden="true"></i>
                             Le Trail de l'Angoisse...</a></p>

                             <p><br /><em><a href="https://www.arroweb.net">Développement : Arroweb</a></em></p>

                        </div><!-- /.col -->

                        <div class="col-xs-12 col-md-4">
                            <p class="text-center"><img src="{{ asset('img/logo-2017.png') }}" alt="" title="" width="300px" /></p>

                        </div><!-- /.col -->

                    </div><!-- /.row -->
                </div><!-- /.container -->
            </footer>

        </div><!-- /.container-fluid -
        
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>
</html>
