{% extends 'crazytemplate.html.twig' %}

{% block title %} - Bénévoles {% endblock%}

{% block body %}
<section class="bande-01">
	<div class="container">
		<h1>Bénévoles</h1>

		<p class="text-center">Si vous souhaitez intégrer l'équipe de bénévoles de la course la plus disco de Normandie, merci de compléter le formulaire ci-dessous.</p>

		{% for message in app.session.flashbag.get('success') %}
		    <div class="alert alert-success" role="alert"><strong><i class="fa fa-check-square-o" aria-hidden="true"></i> {{ message }} </strong></div>
		{% endfor %}

		{% if not form.vars.valid %}
    		<div class="alert alert-danger" role="alert"><strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Attention, vous n'avez pas complété tous les champs, le formulaire n'a pas été envoyé</strong></div>
		{% endif %}
	</div><!-- /.container -->
</section><!-- /.bande-01 -->

<section class="bande-02">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-8">


					{{ form_start(form) }}
					{% form_theme form 'form/fields.html.twig' %}

						
						<div class="form-group">
							{{ form_label(form.name, "Votre nom*", {'label_attr': {'class': 'control-label'}}) }}
							{{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
							{{ form_errors(form.name) }}
						</div>

						<div class="form-group">
							{{ form_label(form.firstname, "Votre prénom*", {'label_attr': {'class': 'control-label'}}) }}
							{{ form_widget(form.firstname, {'attr': {'class': 'form-control'}}) }}
							{{ form_errors(form.firstname) }}
						</div>

						<div class="form-group">
							{{ form_label(form.telephone, "Votre téléphone*", {'label_attr': {'class': 'control-label'}}) }}
							{{ form_widget(form.telephone, {'attr': {'class': 'form-control'}}) }}
							{{ form_errors(form.telephone) }}
						</div>

						<div class="form-group">
							{{ form_label(form.email, "Votre e-mail*", {'label_attr': {'class': 'control-label'}}) }}
							{{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
							{{ form_errors(form.email) }}
						</div>

						<div class="form-group">
							{{ form_label(form.age, "Votre âge*", {'label_attr': {'class': 'control-label'}}) }}
							{{ form_widget(form.age, {'attr': {'class': 'form-control'}}) }}
							{{ form_errors(form.age) }}
						</div>

						

						<div class="form-group">
							{{ form_label(form.disponibilite, "Vos disponibilités*", {'label_attr': {'class': 'control-label'}}) }}
							{{ form_widget(form.disponibilite, {'attr': {'class': 'form-control'}}) }}
							{{ form_errors(form.disponibilite) }}
						</div>

						{# Render CSRF token etc .#}
						<div style="display:none">
							{{ form_rest(form) }}
						</div>

						<input type="submit" value="Valider">
						<p><em><br />*Champs obligatoires pour l'envoi du formulaire</em></p>

					{{ form_end(form) }}

					

				</div><!-- /.col -->
			</div><!-- /.row -->
	</div><!-- /.container -->
</section><!-- /.bande-02 -->
		
		
		





{% endblock %}
