{% extends 'crazytemplate.html.twig' %}

{% block title %} 1ère édition ! {% endblock%}

{% block body %}
<section class="bande-01">
	<div class="container">
		<h1>Crazy Disco <span class="rose">Trail</span></h1>

		<div class="row vertical-align">
			<div class="col-xs-12 col-md-6">
				<p>Le <span class="vert">Crazy Disco Trail</span> sera tout simplement le 7 km le plus lumineux et le plus musical de l'année. Une course nocturne dans la plus <span class="bleu">grande boîte de nuit extérieure</span> avec des DJ et des décors phosphorescents placés chaque kilomètre.</p>

				<p><span class="rose">Un spectacle</span> sonore déjanté où chaque participant portera ses accessoires « fluo » les plus fun.</p>

				<p>Marche, cours, danse, éclate- toi !!!  dans <span class="orange">ce voyage</span> lumineux, sans chrono, entre amis ou en famille.</p>   
				
				<p>TU AS « KIFFE » l’AUDACIEUSE &amp; LE TRAIL DE L’ANGOISSE ?</p>
				<p>TU <strong>ADORERAS</strong> la première édition du  <strong><span class="vert">CRAZY</span> <span class="rose">DISCO</span> <span class="bleu">TRAIL !</span></strong></p>

			</div><!-- /.col -->

			<div class="col-xs-12 col-md-6">
				<img src="{{ asset('img/affiche2017.jpg') }}" class="img-responsive center-block" alt="" title="" />
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section><!-- /.bande-01 -->

<section class="bande-02">
	<div class="container">
		<h2>Inscription</h2>

		<p class="text-center">Le Crazy Disco Trail aura lieu le samedi 4 novembre 2017 à partir de 19h.</p>
		<p class="text-center">Les Départs se feront sous forme de vagues, bruyantes et fluorescentes, toutes les 30 minutes.</p>
		<p class="text-center"><a href="{{ path('inscription') }}" class="btn btn-warning">EN SAVOIR +</a></p>
		
		
	</div><!-- /.container -->
</section><!-- /.bande-02 -->

<section class="bande-01">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<h2>Facebook</h2>
				<p class="text-center">Retrouve nous sur Facebook !</p>
				<p class="text-center"><a href="https://www.facebook.com/Crazy-Disco-Trail-342815289467873/" target="_blank" class="btn btn-primary">FACEBOOK CRAZY DISCO TRAIL</a></p>
				<p class="text-center"><iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FCrazy-Disco-Trail-342815289467873%2F&tabs=timeline&width=280&height=500&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=false&appId" width="280" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe></p>
			</div><!-- /.col -->

			<div class="col-xs-12 col-md-6">
				<h2>Actualités</h2>
				<p class="text-center">Toutes les news du Crazy Disco Trail !</p>
				<p class="text-center"><a href="{{ path('actualites') }}" class="btn btn-success">ACTUALITES</a></p>
				
				{% for news in listeNews %}
					<p><strong class="rose">{{ news.publication|date("d/m/Y") }} - </strong>{{ news.titre }} <a href="{{ path('actualites_post', {'id': news.id}) }}" class="rose">Lire la suite</a></p>
				{% endfor %}
				

				<p><img src="{{ asset('img/illus1.jpg') }}" alt="" title="" class="img-responsive border-gris" /></p>
			</div><!-- /.col -->

		</div><!-- /.row -->
	
		
	</div><!-- /.container -->
</section><!-- /.bande-01 -->

{% endblock %}
