{% extends 'crazytemplate.html.twig' %}

{% block title %} - Partenaires {% endblock%}

{% block body %}
<section class="bande-01 partenaires">
	<div class="container">
		<h1>Partenaires</h1>

		<p class="text-center">Partenaires institutionnels</p>

		<p class="text-center">
			<a href="http://www.saint-lo.fr/" target="_blank"><img src="{{ asset('img/logos/logo-mairie-saint-lo.jpg') }}" alt="Mairie de Saint-Lô" title="Mairie de Saint-Lô"></a>

			<a href="http://polehippiquestlo.fr/historique.html" target="_blank"><img src="{{ asset('img/logos/logo-pole-hyppique.jpg') }}" alt="Pôle hyppique de Saint-Lô" title="Pôle hyppique de Saint-Lô"></a>

			<a href="http://www.saint-lo-agglo.fr/" target="_blank"><img src="{{ asset('img/logos/logo-saint-lo-agglo.png') }}" alt="Saint-Lô Agglo" title="Saint-Lô Agglo"></a>
		</p>
		
		
	</div><!-- /.container -->
</section><!-- /.bande-01 -->

<section class="bande-02 partenaires">
	<div class="container">
		<p class="text-center">Partenaires privés</p>

		<p class="text-center">

			<a href="http://www.easybike.fr/" target="_blank"><img src="{{ asset('img/logos/logo-easybike.png') }}" alt="EasyBike Group" title="EasyBike Group"></a>

			<a href="http://www.intersport.fr/" target="_blank"><img src="{{ asset('img/logos/logo-intersport.png') }}" alt="Intersport" title="Intersport"></a>

			<a href="https://www.creditmutuel.fr/home/index.html" target="_blank"><img src="{{ asset('img/logos/logo-credit-mutuel.jpg') }}" alt="Crédit Mutuel" title="Crédit Mutuel"></a>

			<a href="http://www.nissan-saint-lo.com/" target="_blank"><img src="{{ asset('img/logos/logo-dessoude.jpg') }}" alt="Nissan Dessoude" title="Nissan Dessoude"></a>

			<a href="https://lannuaire.service-public.fr/normandie/manche/cpam-50502-01" target="_blank"><img src="{{ asset('img/logos/logo-cpam-manche.jpg') }}" alt="CPAM Manche" title="CPAM Manche"></a>

			<a href="http://www.tendanceouest.com/" target="_blank"><img src="{{ asset('img/logos/logo-tendance-ouest.png') }}" alt="Tendance Ouest" title="Tendance Ouest"></a>

			
			<a href="https://www.intermarche.com/home/magasins/accueil/manche/saint-lo-02457.html" target="_blank"><img src="{{ asset('img/logos/logo-intermarche.jpg') }}" alt="Intermarché Saint-Lô" title="Intermarché Saint-Lô"></a>

			<a href="https://www.actemium.fr/saint-lo/presentation/" target="_blank"><img src="{{ asset('img/logos/logo-actinium.jpg') }}" alt="Actemium Saint-Lô" title="Actemium Saint-Lô"></a>

			<a href="http://www.eaumineralevelleminfroy.fr/" target="_blank"><img src="{{ asset('img/logos/logo-velleminfroy.png') }}" alt="Velleminfroy" title="Velleminfroy"></a>
		</p>

			
		
	</div><!-- /.container -->
</section><!-- /.bande-02 -->

<section class="bande-01 partenaires">
	<div class="container">


		
		<p class="text-center"><br />
			<img src="{{ asset('img/logos/logo-amc-repro.png') }}" alt="AMC REPRO" title="AMC REPRO" height="80px">

			<img src="{{ asset('img/logos/logo-le-milton.jpg') }}" alt="Le Milton" title="Le Milton" height="80px">

			<img src="{{ asset('img/logos/logo-pointp.jpg') }}" alt="Point P" title="Point P" height="80px">

			<img src="{{ asset('img/logos/logo-sam.png') }}" alt="Sam Music" title="Sam Music" height="80px">

			<img src="{{ asset('img/logos/logo-wc-loc.png') }}" alt="WC Loc" title="WC Loc" height="80px">

		</p>

			
		
	</div><!-- /.container -->
</section><!-- /.bande-01 -->




{% endblock %}
